---
import Button from '@components/Button/button.vue'
---

<p>按钮</p>
<div class='flex gap-2'>
  <Button client:load>222</Button>
  <Button client:load type='primary'> 222 </Button>
  <Button client:load type='success'> 222 </Button>
  <Button client:load type='error'> 222 </Button>
  <Button client:load type='warn'> 222 </Button>
</div>

<p>文字按钮</p>
<div class='flex gap-2'>
  <Button text client:load>222</Button>
  <Button text client:load type='primary'> 222 </Button>
  <Button text client:load type='success'> 222 </Button>
  <Button text client:load type='error'> 222 </Button>
  <Button text client:load type='warn'> 222 </Button>
</div>

<p>图标前缀</p>
<div class='flex gap-2'>
  <Button text client:load>222</Button>
  <Button client:load type='primary'>
    <span slot='prefix'>aa</span>
    222</Button
  >
  <Button text client:load type='success'> 222 </Button>
  <Button text client:load type='error'> 222 </Button>
  <Button text client:load type='warn'> 222 </Button>
</div>
