---
const pwd = 'World!'
---

<script></script>
<section id='container' class='w-full'>
  <div class='wrapper w-full b-1 b-solid p-2'>
    <p class='text-base'>鼠标划过查看密码</p>
    <ul
      class='code bg-gray-200/50 text-gray-8 dark:text-white dark:bg-black/50'
    >
      {
        [...pwd].map((v, vi) => (
          <li tabindex={vi} class='digit'>
            <span>{v}</span>
          </li>
        ))
      }
    </ul>
  </div>
</section>
<style lang='scss' scoped>
  * {
    box-sizing: border-box;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }
  .wrapper {
    --lerp-0: 1; /* === sin(90deg) */
    --lerp-1: calc(sin(50deg));
    --lerp-2: calc(sin(45deg));
    --lerp-3: calc(sin(35deg));
    --lerp-4: calc(sin(25deg));
    --lerp-5: calc(sin(15deg));
    align-items: center;
    justify-content: center;
  }
  .wrapper p {
    color: hsl(0 0% 40%);
    text-align: center;
    background: linear-gradient(hsl(0 0% 80%), hsl(0 0% 50%));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .code {
    font-size: 3rem;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1rem;
    justify-content: center;
    box-shadow: 0 1px hsl(0 0% 100% / 0.25) inset;
  }
  .code:hover {
    cursor: -webkit-grab;
    cursor: grab;
  }
  .digit {
    display: flex;
    height: 100%;
    padding: 5.5rem 1rem;
  }
  .digit:focus-visible {
    outline-color: hsl(0 0% 50% / 0.25);
    outline-offset: 1rem;
  }
  .digit span {
    scale: calc(var(--active, 0) + 0.5);
    filter: blur(calc((1 - var(--active, 0)) * 1rem));
    transition:
      scale calc(((1 - var(--active, 0)) + 0.2) * 1s),
      filter calc(((1 - var(--active, 0)) + 0.2) * 1s);
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .digit:first-of-type {
    padding-left: 5rem;
  }
  .digit:last-of-type {
    padding-right: 5rem;
  }
  .digit:is(:hover, :focus-visible) {
    --active: var(--lerp-0);
  }
  .digit:is(:hover, :focus-visible) + .digit,
  .digit:has(+ .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-1);
  }
  .digit:is(:hover, :focus-visible) + .digit + .digit,
  .digit:has(+ .digit + .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-2);
  }
  .digit:is(:hover, :focus-visible) + .digit + .digit + .digit,
  .digit:has(+ .digit + .digit + .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-3);
  }
  .digit:is(:hover, :focus-visible) + .digit + .digit + .digit + .digit,
  .digit:has(+ .digit + .digit + .digit + .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-4);
  }
  .digit:is(:hover, :focus-visible)
    + .digit
    + .digit
    + .digit
    + .digit
    + .digit,
  .digit:has(
      + .digit + .digit + .digit + .digit + .digit:is(:hover, :focus-visible)
    ) {
    --active: var(--lerp-5);
  }
</style>
